<h1>Editing municipio</h1>

<%= render "form", municipio: @municipio %>

<br>

<div>
  <%= link_to "Show this municipio", @municipio %> |
  <%= link_to "Back to municipios", municipios_path %>
</div>
