<h1>Editing actividades alumno</h1>

<%= render "form", actividades_alumno: @actividades_alumno %>

<br>

<div>
  <%= link_to "Show this actividades alumno", @actividades_alumno %> |
  <%= link_to "Back to actividades alumnos", actividades_alumnos_path %>
</div>
