<h1>Editing actividad tipo</h1>

<%= render "form", actividad_tipo: @actividad_tipo %>

<br>

<div>
  <%= link_to "Show this actividad tipo", @actividad_tipo %> |
  <%= link_to "Back to actividad tipos", actividades_tipo_path %>
</div>
