<h1>Editing direcciones tipo</h1>

<%= render "form", direcciones_tipo: @direcciones_tipo %>

<br>

<div>
  <%= link_to "Show this direcciones tipo", @direcciones_tipo %> |
  <%= link_to "Back to direcciones tipos", direcciones_tipos_path %>
</div>
