<div id="<%= dom_id actividad %>">
  <p>
    <strong>Tipo:</strong>
    <%= actividad.tipo_id %>
  </p>

  <p>
    <strong>Docente:</strong>
    <%= actividad.docente_id %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= actividad.descripcion %>
  </p>

</div>
