<h1>Editing actividad</h1>

<%= render "form", actividad: @actividad %>

<br>

<div>
  <%= link_to "Show this actividad", @actividad %> |
  <%= link_to "Back to actividades", actividades_path %>
</div>
